# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Listing popular languages used in Data Science;
- Listing some commonly used libraries in Data Science; 
- Listing somo Data Science tools;
- How to express simple arithmetic expressions in python; 
- How to use tables in markdown cells;

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Matplotlib

| Data Science Tools |
| --- |
|ggplot2|
|Apache Hadoop|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.
a=2;
b=4;
c=a*b; (c=8)
d=c+b; (d=6)

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
min=200;
hours=min/60;
print("200 minutes equals to", hours, "hours");

200 minutes equals to 3.3333333333333335 hours

## Author:
Ana Pereira